DATABASE_URL=postgresql://postgres:qEazTNJiWsTJeHtFlQhBvBslxzmHoLhY@tramway.proxy.rlwy.net:19577/railway
JWT_SECRET=sportsTalk_super_secret_2026
CLOUDINARY_CLOUD_NAME=durbatnio
CLOUDINARY_API_KEY=586283692694567
CLOUDINARY_API_SECRET=yco3jMpXZGB0vfJkyj7HdLywpKQ